h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  flex: 5;
  text-transform: uppercase;
}

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}